@model IEnumerable<Biblioteczka.Models.Bookshelve>
@{ 
    ViewBag.Title = "Strona Główna";
}

<div class="row">
  
     <div class="col-md-12">
         <h1>Witaj w przytulnej biblioteczce</h1>
         <p>Aplikacja ta umożliwia zapisywanie pozycji książkowych</p>
         <a asp-controller="App" asp-action="bookshelves" class="btn btn-lg btn-success">View My Bookshelves</a>
     </div>


</div>