@model IEnumerable<Biblioteczka.Models.Bookshelve>
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-4" id="imageBox">
        <img src="~/img/bookshelve.jpg" alt="Bookshelve View" style="width:400px; height:100%;" class="img-responsive" />

    </div>

    <div class="col-md-5" id="AboutPage">
        <h1>Some information about this project.</h1>
        <p>
            You can add some bookshelves for example "Books for May" or "Fantasy Books". Then you can manage your bookshelf by adding you books with information about
            name, author, pages, date started read and description.
        </p>
        <p>Project created by Krzysztof Kobreńczuk. This is how im learning programming.</p>

    </div>


</div>