
    
@{ 
    ViewBag.Title = "Library";
}
@section Scripts{
     <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app-bookshelves.js"></script>
    <script src="~/js/bookshelvesController.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/bookshelveEditorController.js"></script>
   

}

  @* ng-app dodanie angulara *@
<div class="row" ng-app="app-bookshelves">

    <div ng-view></div>

</div>