@model IEnumerable<Biblioteczka.Models.Bookshelve>
@{ 
    ViewBag.Title = "Main Page";
}

<div class="row">
    <div class="col-md-4" id="imageBox">
        <img src="~/img/bookshelve.jpg" alt="Bookshelve View" style="width:400px; height:100%;" class="img-responsive" />

    </div>

     <div class="col-md-4" id="InfoPage">
         <h1>Welcome in your library.</h1>
         <p>This application allows you to save your books on bookshelves.</p>
         <a asp-controller="App" asp-action="bookshelves" class="btn btn-lg btn-success">View My Bookshelves</a>
     </div>


</div>